@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
    font-size: 16px;
    --white: #FFF6EA;
    --blueish: #5584AC;
    --dark01: #1a1b1c;
    --lightblue: #393E46;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
}

body{
    background-color: var(--white);
    height: 100%; 
  
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}


/* NAVABAR */

.intro {
    height: 100vh;
    width: 100%;
    background-image: url(curios.jpg);
    background-size: cover;
    background-position: center;
}
.main-nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10%;
}
.logo {
    color:var(--lightblue);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "montserrat" , 'sans serif';

}
span {
    color: #3586ff;

}
.content-intro {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.h1-1 {
    color:var(--blueish);
    font-family: "montserrat", 'sans serif';
    margin: 20px 0px 20px;
    font-size: 75px;
}

.h3-3 {
    color: var(--white);
    font-size: 25px;
    margin-bottom: 50px;
    font-family: "montserrat", 'sans serif';
}
.h4-4 {
    color: var(--dark01);
    font-family: "montserrat", 'sans serif';
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;

}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #3586ff;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position:relative;
    display:inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #0A1D37;
    color: var(--white);
    box-shadow: 0px 0px 5px var(--blueish), 0px 0px 15px #1a1b1c;
    top: 6px;
    right: 6px;
}

.menu-toggle {
    display: none;
}




.item {
    /* display: flex; */
    font-family:open Sans;
    text-transform: uppercase;
    font-weight: 100px;
    color: var(--dark01);
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.item:hover{
    background-color: var(--white);
    border-radius: 10px;

}



/* SECTION */

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: var(--white);
}
.about img {
    height: auto;
    width: 430px;
}
.about-text {
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2 {
    color: var(--lightblue);
    font-size:75px ;
    font-family: "montserrat", 'sans serif';
    text-transform: capitalize;
    margin-bottom: 20px;

}

.about-text h5 {
    color: var(--lightblue);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p {
    color: var(--blueish);
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
    font-family: "montserrat", 'sans serif';
}
button {
    background-color: #3586ff;
    color: var(--white);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;
}

button:hover {    background-color: var(--lightblue);
    border: 2px solid var(--lightblue);
    cursor: pointer;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightblue);
    border-radius: 50% ;
    margin: 22px;
}
.social i {
    color:#3586ff;
}

/* CARDS */

.service {
    background-color:var(--dark01);
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: #3586ff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    font-family: "montserrat", sans-serif;


}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background:var(--white);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
 .card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: var(--blueish);
}
h5 {
    color:var(--lightblue);
    font-size: 23px;
    margin-bottom: 15px;
    font-family: 'open sans', sans serif;
}
.pra p {
    color: var(--dark01);
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

 .card .button {
    background-color: #3586ff;
    color: var(--white);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;

}
.card .button:hover {
    background-color: transparent;
    border: 2px solid var(--lightblue);
    cursor: pointer;
}

/* SECOND CARD */
.Staff {
    background-color:#ffffff;
    width: 100%;
    padding: 100px 0px;
}
.title-staff h2 {

        color:var(--lightblue);
        font-size: 65px;
        width: 1130px;
        margin: 30px auto;
        text-align: center;
        font-family: "montserrat", 'sans serif';

}
.card-dos {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background:var(--white);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card-dos .button {
    background-color: var(--blueish);
    color: var(--white);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;

}
.card-dos .button:hover {
    background-color: transparent;
    border: 2px solid var(--lightblue);
    cursor: pointer;
}

h6 {
    color:var(--dark01);
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'open sans', sans serif;


}
.box-second {
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 400px;
}

.vet {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 3px var(--lightblue);
}

.chef {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 3px var(--lightblue);
}

.estilista {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 3px var(--lightblue);

}

/* BOXPIC */
.inside { display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    margin-top: 60px;

}

.cajita {
    position: relative;
    /* background: url(/yes.png); */
    /* border:4 0.25rem solid var(--dark01); */
    right: -20%;
    top: -25%;
    height: 16rem;
    width: 16rem;
    outline: 0;
    overflow: hidden;
    
}
.cajita::before {
  content: url(/yes.png);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cajita::after {
    content: "" ;
    position: absolute;
    bottom: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    background:var(--white);
    border-radius: 45%;
    animation: spin 6s ease-in-out infinite;
}

@keyframes spin  { 0% {
    transform: translateY(0) rotate(0deg);
}
100% { 
    transform: translateY(-100%) rotate(500deg);
}
}

.titleanime {
   position: relative;
   right: -55%;
   bottom: -5%;
   height: 16rem;
    width: 16rem;

}
.titleanime h3 {
    color: #3586ff;
    font-size:85px ;
    font-family: "montserrat", 'sans serif';
    text-transform: uppercase;
    margin-bottom: 20px;

}

.titleanime p {
    color: var(--lightblue);
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 45px;
    font-family: "montserrat", 'sans serif';

}
/* FOOTER */
footer {
    position: relative;
    width: 100%;
    background-color:  #3586ff;;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
footer .icon-footer,
footer .menu-footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .icon-footer li,
footer .menu-footer li {
    list-style: none;
}
footer .icon-footer li a{
    font-size: 2rem;
    color: var(--white);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .icon-footer li a:hover {
    transform: translateY(-10px);
}

footer .menu-footer li a{
    font-size: 1.2rem;
    color: var(--white);
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    font-family: "montserrat", 'sans serif';
    opacity: 0.75;
}
footer .menu-footer li a:hover
{
    opacity: 10;
}
footer p 
{
    color: var(--white);
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}
footer .wave 
{
    position: absolute;
    top:-100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1 
{
   z-index: 1000;
   opacity: 1;
   bottom: 0;
   animation: animateWave 4s linear infinite;
}
footer .wave#wave2
{
   z-index: 999;
   opacity: 0.5;
   bottom: 10px;
   animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3
{
   z-index: 1000;
   opacity: 0.2;
   bottom: 15px;
   animation: animateWave 3s linear infinite;
}
footer .wave#wave4
{
   z-index: 999;
   opacity: 0.7;
   bottom: 20px;
   animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
  0%{
      background-position-x: 1000px;
  }
  100% {
      background-position-x:0px ;
  }
}
@keyframes animateWave_02
{
  0%{
      background-position-x: 1000px;
  }
  100% {
      background-position-x:0px ;
  }
}
/* MEDIA */

@media only screen and (max-width: 600px) {


    html {
        height: min-content;
        
        
    }
       
    
     
            .menu-button{
                margin: 0 auto;
                width: 40px;
                height: 36px;
                padding: 10px;
                border-radius: 7px;
                background: var(--lightblue);
                cursor: pointer;
                display: flex;
                flex-direction: center;
                justify-content: space-around;
                flex-wrap: wrap;
            } 
    
     
            .menu-toggle {
                display:none;
                width: 100%;
            }
    
            .toggle { display: none;
            text-align: center;
            background: var(--lightblue);
            border-radius: 7px;
            padding: 20px;
            width: 150px;
            margin: 10px auto;
           
    
            }
    
            
            nav {
                list-style: none;
                display: block;
                padding: 10px 0;
                color: #ffffff;
                text-align: center;
            }
            .fa-solidfa-bars {
                color: #DEA057;
            }
            .menu-toggle:checked + .toggle {
                display: block;
            }
    
            .newslatter form input:first-child {
                width: 70%;
                display: inline-block;
            }
            .newslatter form input:last-child {
                width: 40%;
                margin-left: 25px;
                position:relative;
              display:inline-block;
            }
             .h3-3 {
                 font-size: 30px;
             }
             .h1-1 {
                 font-size: 60px;
             }
             .h4-4 {
                 font-size: 15px;
             }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
       
    }
    .about img {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
    
    }
    .about-text h2 {
        font-size: 60px;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 20px;
    line-height: 70px;
    
    
    }
    .about text {
        width: 300px;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
    }
    .about-text h5 {
    
        text-align: center;
        margin-bottom: 30px;
        font-size: 35px;
    }
    .about-text p {
        text-align: center;
        margin: 20px 0px 50px;
    }
    .btn_learn {
        font-size: 20px;
        align-self: center;
    
    }
    
    
    /* CARDS  */
    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .title h2 {
        font-size: 60px;
        margin-bottom: 50px;
        color: #ee9631;
        text-transform: capitalize;
    }
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 600px;
    }
    
    /* second card */
    
    .Staff {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        
    }
    .title-staff h2 {
        font-size: 50px;
    }
    .box-second{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .card-dos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}


    



    


  

